
{% extends 'base.html' %}
{% load static %}

{% block title %}Título de la página{% endblock %}




    {% block content %}

  <div class="page-camaras">


    <h2 class="text-center my-4">{{ categoria.name }}</h2>

    <div class="container-xl">
      <div class="row g-4">

<!-- FILTROS -->
    <div class="col-lg-3">
      <form method="get" class="card p-3 shadow-sm">

        <h6 class="mb-3">Filtrar productos</h6>


 <!-- BUSCAR -->
  <input
    type="text"
    name="q"
    class="form-control mb-3"
    placeholder="Buscar producto..."
    value="{{ request.GET.q }}"
  >

        <!-- Precio mínimo -->
        <input
          type="number"
          name="min"
          class="form-control mb-2"
          placeholder="Precio mínimo"
          value="{{ request.GET.min }}"
        />

        <!-- Precio máximo -->
        <input
          type="number"
          name="max"
          class="form-control mb-3"
          placeholder="Precio máximo"
          value="{{ request.GET.max }}"
        />

        <!-- Stock -->
        <select name="stock" class="form-select mb-3">
          <option value="">Stock</option>
          <option value="disponible"
            {% if request.GET.stock == 'disponible' %}selected{% endif %}
          >
            Solo disponibles
          </option>
        </select>

        <!-- Orden -->
        <select name="orden" class="form-select mb-3">
          <option value="">Ordenar por</option>
          <option value="precio_asc"
            {% if request.GET.orden == 'precio_asc' %}selected{% endif %}
          >
            Precio ↑
          </option>
          <option value="precio_desc"
            {% if request.GET.orden == 'precio_desc' %}selected{% endif %}
          >
            Precio ↓
          </option>
          <option value="nombre"
            {% if request.GET.orden == 'nombre' %}selected{% endif %}
          >
            Nombre A–Z
          </option>
        </select>

        <button class="btn btn-card w-100">
          Aplicar filtros
        </button>

      </form>
    </div>




<!-- LISTADO DE PRODUCTOS -->
    <div class="col-lg-9">
      <div class="row g-4">


        {% for producto in productos %}
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="card h-100 shadow-sm product-card">
            {% if producto.imagen %}

            <div class="card-img-wrapper">
              <img
                src="{{ producto.imagen.url }}"
                class="product-img"
                alt="{{ producto.nombre }}"
              />
            </div>

            {% endif %}

            <div class="card-body d-flex flex-column">
              <h6 class="card-title">{{ producto.nombre }}</h6>
              <p class="card-title">{{ producto.detalle }}</p>
              <p class="card-text text-success fw-bold">
                S/ {{ producto.precio }}
              </p>

              <a
                href="{% url 'camara:producto_detalle' producto.pk %}"
                class="btn btn-card mt-auto"
              >
                Ver detalle
              </a>

              <!-- Botón carrito -->
              <div class="d-flex justify-content-end my-4">
                <a
                  href="{% url 'carrito:agregar_carrito' producto.id %}"
                  class="btn btn-card mt-2"
                >
                  <i class="fa-solid fa-cart-shopping"></i> Agregar al Carrito
                </a>

              </div>
            </div>
            <a
              href="https://wa.me/51933470244?text=Hola,%20estoy%20interesado%20en%20el%20producto:%20{{ producto.nombre }}"
              target="_blank"
              class="btn-whatsapp"
              title="Consultar por WhatsApp"
            >
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>
        </div>
        {% empty %}
        <p class="text-center">No hay productos en esta categoría.</p>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>


    {% endblock %}

    